### EDA CSV EndInvFINAL12312016

In [1]:
# Importar Librerias

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
#Cargar el dataset
df_InventarioFinal = pd.read_csv("Dataset/EndInvFINAL12312016.csv")
df_InventarioFinal.head()

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2016-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2016-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2016-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2016-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2016-12-31

In [3]:
# Obtener información general del dataset
df_InventarioFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224489 entries, 0 to 224488
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  224489 non-null  object
 1   Store        224489 non-null  int64
 2   City         223205 non-null  object
 3   Brand        224489 non-null  int64
 4   Description  224489 non-null  object
 5   Size         224489 non-null  object
 6   onHand       224489 non-null  int64
 7   Price        224489 non-null  float64
 8   endDate      224489 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 15.4+ MB

In [4]:
# Descripción estadística básica
df_InventarioFinal.describe()

               Store          Brand         onHand          Price
count  224489.000000  224489.000000  224489.000000  224489.000000
mean       43.505740   14356.370513      21.763988      23.585583
std        23.326415   13118.467851      37.233576      79.202775
min         1.000000      58.000000       0.000000       0.490000
25%        23.000000    3798.000000       7.000000       9.990000
50%        44.000000    8259.000000      12.000000      14.990000
75%        66.000000   23965.000000      22.000000      23.490000
max        81.000000   90631.000000    3676.000000   13999.900000

In [5]:
# Verificación de valores nulos
df_InventarioFinal.isnull().sum()

InventoryId       0
Store             0
City           1284
Brand             0
Description       0
Size              0
onHand            0
Price             0
endDate           0
dtype: int64

In [6]:
# Verificar la cantidad de nulos en la columna 'City'
print("Nulos en 'City' antes de la actualización:", df_InventarioFinal['City'].isnull().sum())

# Extraer la ciudad de 'InventoryId' y llenar los nulos en 'City'
df_InventarioFinal.loc[df_InventarioFinal['City'].isnull(), 'City'] = (
    df_InventarioFinal['InventoryId'].str.split('_').str[1]
)

# Verificar la cantidad de nulos en la columna 'City' después de la actualización
print("Nulos en 'City' después de la actualización:", df_InventarioFinal['City'].isnull().sum())

Nulos en 'City' antes de la actualización: 1284
Nulos en 'City' después de la actualización: 0