### EDA CSV 2017PurchasePricesDec

In [1]:
# Importar Librerias

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
#Cargar el dataset
df_2017PPD = pd.read_csv("DataSet/2017PurchasePricesDec.csv")
df_2017PPD.head()

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

##### Prueba que el dataset cargado tiene la cantidad de registros y columnas especificadas

In [9]:
# Check the shape of the dataset
num_records, num_columns = df_2017PPD.shape

print(f"The dataset has {num_records} records and {num_columns} columns.")

The dataset has 12261 records and 9 columns.

In [10]:
# Resumen general de la información
df_2017PPD.info()

# Estadísticas descriptivas de las variables numéricas
df_2017PPD.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           12261 non-null  int64
 1   Description     12260 non-null  object
 2   Price           12261 non-null  float64
 3   Size            12260 non-null  object
 4   Volume          12260 non-null  object
 5   Classification  12261 non-null  int64
 6   PurchasePrice   12261 non-null  float64
 7   VendorNumber    12261 non-null  int64
 8   VendorName      12261 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 862.2+ KB

,Brand,Price,Classification,PurchasePrice,VendorNumber
count,12261.000000,12261.000000,12261.000000,12261.000000,12261.000000
mean,17989.067123,38.640240,1.708996,26.488220,10814.861757
std,12528.503464,206.151172,0.454244,156.182948,19007.682322
min,58.000000,0.000000,1.000000,0.000000,2.000000
25%,5990.000000,10.990000,1.000000,6.890000,3960.000000
50%,18788.000000,15.990000,2.000000,10.650000,7153.000000
75%,25117.000000,29.990000,2.000000,20.130000,9552.000000
max,90631.000000,13999.900000,2.000000,11111.030000,173357.000000

In [13]:
# Verificación de valores nulos en el dataset
df_2017PPD.isnull().sum()

Brand             0
Description       0
Price             0
Size              0
Volume            0
Classification    0
PurchasePrice     0
VendorNumber      0
VendorName        0
dtype: int64

In [12]:
# Eliminar filas con valores nulos (1 fila)
df_2017PPD = df_2017PPD.dropna()

In [ ]:
# Detección de outliers en la columna 'precio' (ajusta el nombre de la columna según tu dataset)
plt.figure(figsize=(8,6))
sns.boxplot(x=df_2017PPD['precio'])
plt.title('Detección de Outliers en el Precio')
plt.show()