### EDA CSV 2017PurchasePricesDec

In [1]:
# Importar Librerias

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#Cargar el dataset
df_2017purchaseprices = pd.read_csv("DataSet/2017PurchasePricesDec.csv")
df_2017purchaseprices.head()

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

##### Prueba que el dataset cargado tiene la cantidad de registros y columnas especificadas

In [6]:
# Check the shape of the dataset
num_records, num_columns = df_2017purchaseprices.shape

print(f"The dataset has {num_records} records and {num_columns} columns.")

The dataset has 12261 records and 9 columns.

In [7]:
#Normalizacion de datos de las columnas Size y Volume

# Obtener los valores únicos de la columna 'Size'
unique_sizes = df_2017purchaseprices['Size'].unique()

# Obtener los valores únicos de la columna 'Volume'
unique_volumes = df_2017purchaseprices['Volume'].unique()

# Mostrar los valores únicos de 'Size'
print("Valores únicos de 'Size':")
print(unique_sizes)

# Mostrar los valores únicos de 'Volume'
print("Valores únicos de 'Volume':")
print(unique_volumes)

Valores únicos de 'Size':
['750mL' '1000mL' '1750mL' '50mL' '375mL' '100mL 4 Pk' '50mL 5 Pk' '100mL'
 '200mL' '50mL 4 Pk' '50mL 3 Pk' '300mL' '200mL 4 Pk' 'Unknown'
 '750mL 2 Pk' '250mL 4 Pk' '1500mL' '3000mL' '5000mL' '4000mL'
 '187mL 4 Pk' '150mL' '187mL' '500mL' '720mL' '650mL' '200mL 3 Pk'
 '187mL 3 Pk' '330mL' '250mL' '750mL + 3/' '18000mL' '180mL' '750mL + 4/'
 '6000mL' '1000mL 2 Pk' '750mL 12 P' '750mL 6 Pk' '20mL 5 Pk' nan
 '375mL 2 Pk' '20000mL' '50mL 12 Pk' '750mL 3 Pk' '375mL 3 Pk'
 '750mL + 1/' '200mL 5 Pk' '162.5mL' '400mL' '1100ml' '600mL' '19500mL'
 '560mL' '3750mL' '750mL  3' '1500ml' '9000mL']
Valores únicos de 'Volume':
['750' '1000' '1750' '50' '375' '100' '200' '300' 'Unknown' '250' '1500'
 '3000' '5000' '4000' '187' '150' '500' '720' '650' '330' '18000' '180'
 '6000' '20' nan '20000' '162.5' '400' '1100' '600' '19500' '560' '3750'
 '9000']