### EDA CSV InvoicePurchases12312016

In [1]:
# Importar Librerias

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [3]:
#Cargar el dataset
df_InvoicePurchase = pd.read_csv("Dataset/InvoicePurchases12312016.csv")
df_InvoicePurchase.head()

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2016-01-04,8124,2015-12-21,2016-02-16,6,214.26,3.47,NaN
1,4466,AMERICAN VINTAGE BEVERAGE,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57,NaN
2,388,ATLANTIC IMPORTING COMPANY,2016-01-09,8169,2015-12-24,2016-02-16,5,106.60,4.61,NaN
3,480,BACARDI USA INC,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20,NaN
4,516,BANFI PRODUCTS CORP,2016-01-07,8170,2015-12-24,2016-02-12,1935,15527.25,429.20,NaN

In [7]:
# Obtener informaci√≥n general del dataset
df_InvoicePurchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   VendorName    5543 non-null   object
 2   InvoiceDate   5543 non-null   object
 3   PONumber      5543 non-null   int64
 4   PODate        5543 non-null   object
 5   PayDate       5543 non-null   object
 6   Quantity      5543 non-null   int64
 7   Dollars       5543 non-null   float64
 8   Freight       5543 non-null   float64
 9   Approval      374 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 433.2+ KB

In [8]:
# Descripci√≥n estad√≠stica b√°sica
df_InvoicePurchase.describe()

       VendorNumber      PONumber       Quantity       Dollars      Freight
count    5543.00000   5543.000000    5543.000000  5.543000e+03  5543.000000
mean    20662.75212  10889.419087    6058.880931  5.807338e+04   295.954301
std     34582.15841   1600.859969   14453.338164  1.402340e+05   713.585093
min         2.00000   8106.000000       1.000000  4.140000e+00     0.020000
25%      3089.00000   9503.500000      83.000000  9.678100e+02     5.020000
50%      7240.00000  10890.000000     423.000000  4.765450e+03    24.730000
75%     10754.00000  12275.500000    5100.500000  4.458718e+04   229.660000
max    201359.00000  13661.000000  141660.000000  1.660436e+06  8468.220000

In [14]:
# Verificaci√≥n de valores nulos
df_InvoicePurchase.isnull().sum()

VendorNumber    0
VendorName      0
InvoiceDate     0
PONumber        0
PODate          0
PayDate         0
Quantity        0
Dollars         0
Freight         0
Approval        0
dtype: int64

In [11]:
# Reemplazar los valores NaN en la columna 'Approval' con 'No Aplica'
df_InvoicePurchase['Approval'] = df_InvoicePurchase['Approval'].fillna('No Aplica')

# Mostrar las primeras filas del DataFrame para verificar el cambio
print(df_InvoicePurchase.head())

   VendorNumber                   VendorName InvoiceDate  PONumber  \
0           105  ALTAMAR BRANDS LLC           2016-01-04      8124
1          4466  AMERICAN VINTAGE BEVERAGE    2016-01-07      8137
2           388  ATLANTIC IMPORTING COMPANY   2016-01-09      8169
3           480  BACARDI USA INC              2016-01-12      8106
4           516  BANFI PRODUCTS CORP          2016-01-07      8170

       PODate     PayDate  Quantity    Dollars  Freight   Approval
0  2015-12-21  2016-02-16         6     214.26     3.47  No Aplica
1  2015-12-22  2016-02-21        15     140.55     8.57  No Aplica
2  2015-12-24  2016-02-16         5     106.60     4.61  No Aplica
3  2015-12-20  2016-02-05     10100  137483.78  2935.20  No Aplica
4  2015-12-24  2016-02-12      1935   15527.25   429.20  No Aplica

In [12]:
#Verificaci√≥n de la cantidad de filas y columnas
np.shape(df_InvoicePurchase)

(5543, 10)

In [13]:
# Verificar si hay filas duplicadas
duplicated_rows = df_InvoicePurchase.duplicated()

# Contar el n√∫mero de filas duplicadas
num_duplicated_rows = duplicated_rows.sum()

# Mostrar el n√∫mero de filas duplicadas
print(f'N√∫mero de filas duplicadas en df_invoicepurchase: {num_duplicated_rows}')

N√∫mero de filas duplicadas en df_invoicepurchase: 0

In [15]:
# se verifica el tipo de dato de cada columna
print(df_InvoicePurchase.dtypes)

VendorNumber      int64
VendorName       object
InvoiceDate      object
PONumber          int64
PODate           object
PayDate          object
Quantity          int64
Dollars         float64
Freight         float64
Approval         object
dtype: object

In [16]:
# Verificar si hay valores negativos en las columnas num√©ricas
negatives = df_InvoicePurchase.select_dtypes(include=['number']) < 0

# Obtener los nombres de las columnas que tienen valores negativos
negative_columns = negatives.any()

# Filtrar las columnas que tienen al menos un valor negativo
columns_with_negatives = negative_columns[negative_columns].index.tolist()

# Mostrar los resultados
if columns_with_negatives:
    print(f"Columnas con valores negativos: {columns_with_negatives}")
    for column in columns_with_negatives:
        print(f"\nValores negativos en la columna '{column}':")
        print(df_InvoicePurchase[df_InvoicePurchase[column] < 0])
else:
    print("No hay valores negativos en el DataFrame.")

No hay valores negativos en el DataFrame.