### EDA CSV InvoicePurchases12312016

In [1]:
# Importar Librerias

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [3]:
#Cargar el dataset
df_InvoicePurchase = pd.read_csv("Dataset/InvoicePurchases12312016.csv")
df_InvoicePurchase.head()

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2016-01-04,8124,2015-12-21,2016-02-16,6,214.26,3.47,NaN
1,4466,AMERICAN VINTAGE BEVERAGE,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57,NaN
2,388,ATLANTIC IMPORTING COMPANY,2016-01-09,8169,2015-12-24,2016-02-16,5,106.60,4.61,NaN
3,480,BACARDI USA INC,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20,NaN
4,516,BANFI PRODUCTS CORP,2016-01-07,8170,2015-12-24,2016-02-12,1935,15527.25,429.20,NaN

In [7]:
# Obtener informaci√≥n general del dataset
df_InvoicePurchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5543 entries, 0 to 5542
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   VendorNumber  5543 non-null   int64
 1   VendorName    5543 non-null   object
 2   InvoiceDate   5543 non-null   object
 3   PONumber      5543 non-null   int64
 4   PODate        5543 non-null   object
 5   PayDate       5543 non-null   object
 6   Quantity      5543 non-null   int64
 7   Dollars       5543 non-null   float64
 8   Freight       5543 non-null   float64
 9   Approval      374 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 433.2+ KB

In [8]:
# Descripci√≥n estad√≠stica b√°sica
df_InvoicePurchase.describe()

       VendorNumber      PONumber       Quantity       Dollars      Freight
count    5543.00000   5543.000000    5543.000000  5.543000e+03  5543.000000
mean    20662.75212  10889.419087    6058.880931  5.807338e+04   295.954301
std     34582.15841   1600.859969   14453.338164  1.402340e+05   713.585093
min         2.00000   8106.000000       1.000000  4.140000e+00     0.020000
25%      3089.00000   9503.500000      83.000000  9.678100e+02     5.020000
50%      7240.00000  10890.000000     423.000000  4.765450e+03    24.730000
75%     10754.00000  12275.500000    5100.500000  4.458718e+04   229.660000
max    201359.00000  13661.000000  141660.000000  1.660436e+06  8468.220000

In [14]:
# Verificaci√≥n de valores nulos
df_InvoicePurchase.isnull().sum()

VendorNumber    0
VendorName      0
InvoiceDate     0
PONumber        0
PODate          0
PayDate         0
Quantity        0
Dollars         0
Freight         0
Approval        0
dtype: int64

In [11]:
# Reemplazar los valores NaN en la columna 'Approval' con 'No Aplica'
df_InvoicePurchase['Approval'] = df_InvoicePurchase['Approval'].fillna('No Aplica')

# Mostrar las primeras filas del DataFrame para verificar el cambio
print(df_InvoicePurchase.head())

   VendorNumber                   VendorName InvoiceDate  PONumber  \
0           105  ALTAMAR BRANDS LLC           2016-01-04      8124
1          4466  AMERICAN VINTAGE BEVERAGE    2016-01-07      8137
2           388  ATLANTIC IMPORTING COMPANY   2016-01-09      8169
3           480  BACARDI USA INC              2016-01-12      8106
4           516  BANFI PRODUCTS CORP          2016-01-07      8170

       PODate     PayDate  Quantity    Dollars  Freight   Approval
0  2015-12-21  2016-02-16         6     214.26     3.47  No Aplica
1  2015-12-22  2016-02-21        15     140.55     8.57  No Aplica
2  2015-12-24  2016-02-16         5     106.60     4.61  No Aplica
3  2015-12-20  2016-02-05     10100  137483.78  2935.20  No Aplica
4  2015-12-24  2016-02-12      1935   15527.25   429.20  No Aplica

In [12]:
#Verificaci√≥n de la cantidad de filas y columnas
np.shape(df_InvoicePurchase)

(5543, 10)

In [13]:
# Verificar si hay filas duplicadas
duplicated_rows = df_InvoicePurchase.duplicated()

# Contar el n√∫mero de filas duplicadas
num_duplicated_rows = duplicated_rows.sum()

# Mostrar el n√∫mero de filas duplicadas
print(f'N√∫mero de filas duplicadas en df_invoicepurchase: {num_duplicated_rows}')

N√∫mero de filas duplicadas en df_invoicepurchase: 0

In [15]:
# se verifica el tipo de dato de cada columna
print(df_InvoicePurchase.dtypes)

VendorNumber      int64
VendorName       object
InvoiceDate      object
PONumber          int64
PODate           object
PayDate          object
Quantity          int64
Dollars         float64
Freight         float64
Approval         object
dtype: object

In [16]:
# Verificar si hay valores negativos en las columnas num√©ricas
negatives = df_InvoicePurchase.select_dtypes(include=['number']) < 0

# Obtener los nombres de las columnas que tienen valores negativos
negative_columns = negatives.any()

# Filtrar las columnas que tienen al menos un valor negativo
columns_with_negatives = negative_columns[negative_columns].index.tolist()

# Mostrar los resultados
if columns_with_negatives:
    print(f"Columnas con valores negativos: {columns_with_negatives}")
    for column in columns_with_negatives:
        print(f"\nValores negativos en la columna '{column}':")
        print(df_InvoicePurchase[df_InvoicePurchase[column] < 0])
else:
    print("No hay valores negativos en el DataFrame.")

No hay valores negativos en el DataFrame.

In [17]:
#Analisis de las columnas
for i in df_InvoicePurchase.columns:
    print(i)
    print(df_InvoicePurchase[i].describe()) #descripcion basica 
    print('--------------------------------------')

VendorNumber
count      5543.00000
mean      20662.75212
std       34582.15841
min           2.00000
25%        3089.00000
50%        7240.00000
75%       10754.00000
max      201359.00000
Name: VendorNumber, dtype: float64
--------------------------------------
VendorName
count                            5543
unique                            129
top       AMERICAN VINTAGE BEVERAGE
freq                               55
Name: VendorName, dtype: object
--------------------------------------
InvoiceDate
count           5543
unique           373
top       2016-07-04
freq              43
Name: InvoiceDate, dtype: object
--------------------------------------
PONumber
count     5543.000000
mean     10889.419087
std       1600.859969
min       8106.000000
25%       9503.500000
50%      10890.000000
75%      12275.500000
max      13661.000000
Name: PONumber, dtype: float64
--------------------------------------
PODate
count           5543
unique           319
top       2016-06-25
freq              86
Name: PODate, dtype: object
--------------------------------------
PayDate
count           5543
unique           382
top       2016-08-14
freq              31
Name: PayDate, dtype: object
--------------------------------------
Quantity
count      5543.000000
mean       6058.880931
std       14453.338164
min           1.000000
25%          83.000000
50%         423.000000
75%        5100.500000
max      141660.000000
Name: Quantity, dtype: float64
--------------------------------------
Dollars
count    5.543000e+03
mean     5.807338e+04
std      1.402340e+05
min      4.140000e+00
25%      9.678100e+02
50%      4.765450e+03
75%      4.458718e+04
max      1.660436e+06
Name: Dollars, dtype: float64
--------------------------------------
Freight
count    5543.000000
mean      295.954301
std       713.585093
min         0.020000
25%         5.020000
50%        24.730000
75%       229.660000
max      8468.220000
Name: Freight, dtype: float64
--------------------------------------
Approval
count          5543
unique            2
top       No Aplica
freq           5169
Name: Approval, dtype: object
--------------------------------------

##### Presencia de Outliers: Las grandes diferencias entre la media y la mediana en las columnas Quantity, Dollars, y Freight indican que hay varias transacciones de gran magnitud que podr√≠an distorsionar los an√°lisis.

##### Distribuci√≥n de Fechas: Tanto las fechas de las facturas como las √≥rdenes de compra y pagos est√°n distribuidas en varios d√≠as, pero ciertos d√≠as destacan por una mayor actividad. hubo un pico significativo el 4 de julio de 2016.

##### Dominancia de Proveedores: Aunque hay 129 proveedores √∫nicos, algunos proveedores, como AMERICAN VINTAGE BEVERAGE, son responsables de una cantidad desproporcionada de transacciones.

##### 1. VendorNumber:
##### Cantidad de datos: 5543 valores.
##### Promedio: El n√∫mero promedio de proveedor es 20,662, lo que indica que los identificadores de proveedores est√°n distribuidos a lo largo de un rango amplio.
##### M√≠nimo y m√°ximo: El n√∫mero m√°s bajo de proveedor es 2 y el m√°s alto es 201,359, lo que sugiere una amplia variedad de proveedores en el sistema.
##### Mediana (50%): El valor en el punto medio es 7,240, lo que indica que la mayor√≠a de los proveedores tienen n√∫meros relativamente bajos en comparaci√≥n con el m√°ximo.
##### Conclusi√≥n: Hay una gran variabilidad en los identificadores de los proveedores, pero la mayor√≠a parecen estar agrupados en un rango menor que el valor m√°ximo, lo que podr√≠a sugerir que los proveedores m√°s recientes (con n√∫meros altos) son menos frecuentes.

##### 2. VendorName:
##### Cantidad de datos: 5543 valores.
##### Proveedores √∫nicos: 129 proveedores √∫nicos, lo que sugiere que algunos proveedores realizan m√∫ltiples transacciones.
##### Proveedor m√°s frecuente: AMERICAN VINTAGE BEVERAGE es el proveedor con m√°s transacciones, representando 55 entradas en el dataset.
##### Conclusi√≥n: A pesar de que hay 129 proveedores √∫nicos, algunos, como AMERICAN VINTAGE BEVERAGE, dominan en t√©rminos de volumen de transacciones.

##### 3. InvoiceDate:
##### Cantidad de datos: 5543 facturas.
##### Fechas √∫nicas: 373 fechas √∫nicas, lo que indica que se emitieron facturas en m√∫ltiples d√≠as.
##### Fecha m√°s frecuente: 4 de julio de 2016 es la fecha m√°s com√∫n con 43 facturas emitidas en ese d√≠a.
##### Conclusi√≥n: La actividad de emisi√≥n de facturas parece estar bastante distribuida a lo largo de diferentes d√≠as, pero hubo un pico significativo el 4 de julio de 2016.

##### 4. PONumber:
##### Cantidad de datos: 5543 √≥rdenes de compra (PO).
##### Promedio y mediana: El n√∫mero promedio de √≥rdenes de compra es 10,889 y la mediana es 10,890, lo que sugiere que los n√∫meros de √≥rdenes est√°n bastante equilibrados.
##### Rango: El n√∫mero m√°s bajo es 8,106 y el m√°s alto es 13,661.
##### Conclusi√≥n: Los n√∫meros de √≥rdenes de compra est√°n bastante distribuidos y centrados alrededor de la mediana, sin variaciones significativas fuera del rango normal.

##### 5. PODate:
##### Cantidad de datos: 5543 √≥rdenes de compra con fechas.
##### Fechas √∫nicas: 319 fechas √∫nicas para las √≥rdenes de compra.
##### Fecha m√°s frecuente: 25 de junio de 2016 es la fecha m√°s com√∫n con 86 √≥rdenes emitidas ese d√≠a.
##### Conclusi√≥n: Las √≥rdenes de compra se realizaron en varias fechas a lo largo del tiempo, pero el 25 de junio de 2016 destaca como un d√≠a de alta actividad.

##### 6. PayDate:
##### Cantidad de datos: 5543 fechas de pago.
##### Fechas √∫nicas: 382 fechas √∫nicas para los pagos.
##### Fecha m√°s frecuente: 14 de agosto de 2016 es la fecha m√°s com√∫n con 31 pagos procesados.
##### Conclusi√≥n: Aunque los pagos est√°n distribuidos en 382 fechas, hubo una mayor concentraci√≥n de pagos realizados el 14 de agosto de 2016.

##### 7. Quantity:
##### Cantidad de datos: 5543 entradas con cantidad de productos comprados.
##### Promedio y mediana: La cantidad promedio comprada es de 6,059 unidades, mientras que la mediana es mucho menor, con 423 unidades.
##### Rango: La cantidad m√≠nima comprada es 1 y la m√°xima es 141,660.
##### Conclusi√≥n: La diferencia significativa entre la media y la mediana, junto con el alto valor m√°ximo, sugiere que existen varias compras de cantidades extremadamente grandes, lo que distorsiona la media y podr√≠a indicar la presencia de outliers.

##### 8. Dollars:
##### Cantidad de datos: 5543 entradas de transacciones monetarias.
##### Promedio y mediana: El monto promedio es de $58,073.38, pero la mediana es significativamente m√°s baja con $4,765.45.
##### Rango: El valor m√≠nimo es $4.14 y el m√°ximo es $1,660,436.00.
##### Conclusi√≥n: Al igual que la cantidad de productos, el alto valor de la media en comparaci√≥n con la mediana indica que existen algunas transacciones monetarias extremadamente grandes, lo que tambi√©n sugiere la presencia de outliers en los datos financieros.

##### 9. Freight:
##### Cantidad de datos: 5543 entradas sobre los costos de env√≠o.
##### Promedio y mediana: El costo promedio de flete es de $295.95, mientras que la mediana es mucho m√°s baja, de $24.73.
##### Rango: El costo de flete m√°s bajo es de $0.02 y el m√°s alto es $8,468.22.
##### Conclusi√≥n: Hay una amplia variabilidad en los costos de env√≠o, y los valores m√°s altos (outliers) inflan el promedio, lo que hace que la mediana sea una mejor medida central en este caso.

##### 10. Approval:
##### Cantidad de datos: 5543 entradas con estado de aprobaci√≥n.
##### Valores √∫nicos: Solo hay dos valores posibles.
##### Valor m√°s frecuente: "No Aplica" aparece 5169 veces, lo que sugiere que la mayor√≠a de las transacciones no requieren aprobaci√≥n o no tienen un estado de aprobaci√≥n asignado.
##### Conclusi√≥n: La mayor√≠a de las transacciones parecen no tener un estado de aprobaci√≥n o no es relevante para el an√°lisis.