### EDA CSV SalesFINAL12312016

In [1]:
# Importar Librerias

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
#Cargar el dataset
df_SalesFinal = pd.read_csv("Dataset/SalesFINAL12312016.csv")
df_SalesFinal.head()

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/1/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,1/2/2016,750,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/3/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,1/8/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,1/9/2016,375,1,0.79,12546,JIM BEAM BRANDS COMPANY

In [3]:
# Obtener informaci√≥n general del dataset
df_SalesFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   InventoryId     1048575 non-null  object
 1   Store           1048575 non-null  int64
 2   Brand           1048575 non-null  int64
 3   Description     1048575 non-null  object
 4   Size            1048575 non-null  object
 5   SalesQuantity   1048575 non-null  int64
 6   SalesDollars    1048575 non-null  float64
 7   SalesPrice      1048575 non-null  float64
 8   SalesDate       1048575 non-null  object
 9   Volume          1048575 non-null  int64
 10  Classification  1048575 non-null  int64
 11  ExciseTax       1048575 non-null  float64
 12  VendorNo        1048575 non-null  int64
 13  VendorName      1048575 non-null  object
dtypes: float64(3), int64(6), object(5)
memory usage: 112.0+ MB

In [4]:
# Descripci√≥n estad√≠stica b√°sica
df_SalesFinal.describe()

,Store,Brand,SalesQuantity,SalesDollars,SalesPrice,Volume,Classification,ExciseTax,VendorNo
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,4.008063e+01,1.216959e+04,2.337619e+00,3.160420e+01,1.543162e+01,9.500280e+02,1.416550e+00,1.326847e+00,6.995043e+03
std,2.435739e+01,1.241921e+04,3.511492e+00,6.570249e+01,1.404967e+01,7.142708e+02,4.929872e-01,3.407898e+00,8.426736e+03
min,1.000000e+00,5.800000e+01,1.000000e+00,4.900000e-01,4.900000e-01,5.000000e+01,1.000000e+00,1.000000e-02,2.000000e+00
25%,1.500000e+01,3.680000e+03,1.000000e+00,1.099000e+01,8.990000e+00,7.500000e+02,1.000000e+00,1.600000e-01,3.252000e+03
50%,3.900000e+01,6.296000e+03,1.000000e+00,1.799000e+01,1.299000e+01,7.500000e+02,1.000000e+00,6.800000e-01,4.425000e+03
75%,6.400000e+01,1.795400e+04,2.000000e+00,3.199000e+01,1.899000e+01,1.500000e+03,2.000000e+00,1.570000e+00,9.552000e+03
max,7.900000e+01,9.008900e+04,4.320000e+02,1.327997e+04,4.999990e+03,2.000000e+04,2.000000e+00,3.785200e+02,1.733570e+05

In [5]:
# Verificaci√≥n de valores nulos
df_SalesFinal.isnull().sum()

InventoryId       0
Store             0
Brand             0
Description       0
Size              0
SalesQuantity     0
SalesDollars      0
SalesPrice        0
SalesDate         0
Volume            0
Classification    0
ExciseTax         0
VendorNo          0
VendorName        0
dtype: int64

In [6]:
# Verificar si hay filas duplicadas
duplicated_rows = df_SalesFinal.duplicated()

# Contar el n√∫mero de filas duplicadas
num_duplicated_rows = duplicated_rows.sum()

# Mostrar el n√∫mero de filas duplicadas
print(f'N√∫mero de filas duplicadas: {num_duplicated_rows}')

# Opcional: Mostrar las filas duplicadas
if num_duplicated_rows > 0:
    print(df_SalesFinal[duplicated_rows])

N√∫mero de filas duplicadas: 0

In [7]:
#Se verifica el tipo de dato de cada columna
print(df_SalesFinal.dtypes)

InventoryId        object
Store               int64
Brand               int64
Description        object
Size               object
SalesQuantity       int64
SalesDollars      float64
SalesPrice        float64
SalesDate          object
Volume              int64
Classification      int64
ExciseTax         float64
VendorNo            int64
VendorName         object
dtype: object

In [10]:
# Convertir la columna 'SalesDate' a formato de fecha (si no est√° en ese formato)
df_SalesFinal['SalesDate'] = pd.to_datetime(df_SalesFinal['SalesDate'], errors='coerce')

# Verificar la fecha m√≠nima y m√°xima
fecha_minima = df_SalesFinal['SalesDate'].min()
fecha_maxima = df_SalesFinal['SalesDate'].max()

# Mostrar las fechas
print(f"Fecha m√≠nima: {fecha_minima}")
print(f"Fecha m√°xima: {fecha_maxima}")

Fecha m√≠nima: 2016-01-01 00:00:00
Fecha m√°xima: 2016-02-29 00:00:00

#### La fecha m√°xima registrada en el dataset de ventas es 2016-02-29, es decir, solamante existen 2 meses registrados de ventas del 2016, Enero y Febrero.